@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Tiro+Devanagari+Sanskrit&display=swap');
/* start css: dashboard page */
body {
    margin: 0px;
    padding: 0px;
    min-height: 90vh;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;   
}

/* page title */
.home h1 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    color: black;
    text-align: center;
    margin-top: 30px;
    color: black;
}

.home h1 span {
    color: #51a773;
}
 
/* animated line */
.home h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #51a773;
    left: 50%;
    transform: translateX(-50%);
    top: 155px;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}



/* widget cards */
.cards {
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,0px));
    column-gap: 20px;
    row-gap: 30px;
}

.card-body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    width: 200px;
    /* height: 150px; */
    height: 120px;
    color: black;
    border-radius: 5px;
    box-shadow: 3px 5px 10px rgba(71, 115, 64, 0.3);
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.final {
    margin-left: 330px;
    margin-bottom: 40px;
    margin-top: 1px;
}

.card-body:hover {
    background-color: rgba(64, 151, 87, 0.114);
}

.card-body a {
    text-decoration: none;
    color: black;
}

/* cards text */
.card-body .title {
   /* margin-top: 20%; */
   margin-top: 13%;
   margin-bottom: 5px;
}

.card-body a:focus {
    color:rgba(61, 157, 46, 0.3);
}

/* icons */
.card-body .icon i {
    color: #51a773;
}

.card-body:hover .icon {
    transform: scale(.9);
}

.card-body:hover .title {
    transform: scale(.9);
}

/* welcome message */
.welcome {
    padding: 20px 40px;
    min-width: 320px;
    top:-35px; 
    position: absolute;
    right: 10px;
    margin-top: 120px;
    border-radius: 4px;
    border-color: #badbcc;
    border-left: 4px solid #51a773;
    background-color: #d1e7dd;
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(-0%);
    }
    100%{
        transform: translateX(-10px);  
    }
}

.welcome .bxs-user-check {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #51a773;
    font-size: 30px;
}

.welcome .msg {
    padding: 0 20px;
    font-size: 18px;
    color:#125e3a;
}

.welcome .bx-x {
    position: absolute;
    right: 0px;
    top: 84%;
    transform: translateY(-50px);
    padding: 17.2px 10px;
    background-color: #badbcc;
    font-size: 25px;
    color: #125e3bbd;
    cursor: pointer;
}

.welcome .bx-x:hover {
    background-color: rgba(64, 151, 87, 0.584);
}
/* end css */
